<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="width: 500px;height: 380px;margin: 0px auto;">
        <iframe width="500px" height="380px" src="mda-ic3eip66u80zeutr.mp4" frameborder=0 allowfullscreen></iframe>
    </div>
    <div style="width: 500px;height: 380px;margin: 0px auto;">
        <iframe width="500px" height="380px" src="../static/11.mp4" frameborder=0 allowfullscreen></iframe>
    </div>
{#<a href="https://vd3.bdstatic.com/mda-jh8dxjpsbjhjtz7q/mda-jh8dxjpsbjhjtz7q.mp4?playlist=%5B%22hd%22%2C%22sc%22%5D">1111</a>#}
{#</body>#}

<video width="320" height="240" controls>
  <source src="../static/11.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  <source src="movie.webm" type="video/webm">
  <object data="movie.mp4" width="320" height="240">
    <embed src="movie.swf" width="320" height="240">
  </object>
</video>
</html>